@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Baloo Bhai 2', sans-serif;
}

html{
    font-size: 62.5%; /* 1rem = 10px */
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
}

.header{
    padding: 0 4.8rem;
    height: 6.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.header .logo{
    height: 4rem;
}

.navbar-list{
    display: flex;
    gap: 4.8rem;
    list-style: none;
    align-items: baseline;
}


.navbar-link:link,.navbar-link:visited{
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    transition: all 0.3s;
    font-weight: 0;
}

.navbar-link:hover,.navbar-link:active{
    color: grey;
}

.navbar{
    display: flex;
    gap: 40px;
    align-items: center;
}

.search-btn{
    background-color: white;
    border: none;
    color: black;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    transform: translate(16rem);
}

.search-box{
    width: 20rem;
    height: 3.8rem;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1.5rem;
}

.search{
    display: flex;
    align-items: center;
    position: relative;
}

.mobile-navbar-btn{
    display: none;
    background-color: transparent;
    cursor: pointer;
}

.mobile-nav-icon{
    width: 4rem;
    height: 4rem;
    color: white;
}

.mobile-nav-icon[name="close-outline"]{
    display: none;
}

.all-products{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    padding: 20px;
}

.container{
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 30px;
    row-gap: 30px;
}

@keyframes productEntry {
    0% {
        opacity: 0;
        transform: translateY(20px) scale(0.95);
    }
    100% {
        opacity: 1;
        transform: translateY(0) scale(1);
    }
}

.product {
    border: 1px solid rgb(193, 193, 193);
    border-radius: 20px;
    height: 38rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
    animation: productEntry 0.6s ease-out; /* Adds the entry animation */
}

.product:hover {
    transform: translateZ(10px) scale(1.05); 
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
}


.part-7{
    width: 100%;
    height: 24.5rem;
    margin-top: 12px;
    text-align: center;
}

.part-7 .image img{
    width: 90%;
    height: 24.5rem;
    border-radius: 20px;
}

.part-8{
    width: 90%;
    height: 9.5rem;
    margin-top: 15px;
}

.star{
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 2rem;
    color: gold;
}

.part-8 h2{
    font-size: 2rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: rgb(84, 84, 84);
}

.part-8 h3{
    font-size: 1.5rem;
    font-weight: 500;
    font-family: "Poppins", sans-serif;
    color: rgb(105, 105, 105);
}

.footer{
    width: 100%;
    height: 300px;
    background-color: black;
    margin-top: 20px;
}

.part-1{
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.section-1{
    margin-left: 50px;
}

.icons{
    width: 100%;
    height: 30%;
    font-size: 4rem;
    color: grey;
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-left: 20px;
}

.section-1 h2{
    color: white;
    font-size: 2.3rem;
    margin-bottom: 20px;
    margin-top: 50px;
}

.info{
    display: flex;
    flex-direction: column;
}

.info a{
    color: grey;
    text-decoration: none;
    font-size: 1.5rem;
}

.info-1{
    flex-direction: row;
    gap: 20px;
}

.info-1 i{
    margin-top: 20px;
    font-size: 3rem;
}

.part-2{
    width: 100%;
    height: 20%;
    color: gray;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: end;
}

.container a{
    text-decoration: none;
}

.flash-message {
    padding: 15px;
    margin: 15px 0;
    border-radius: 5px;
    font-size: 16px;
    text-align: center;
    opacity: 0.9;
    position: relative;
    width: 100%;
    max-width: 764px;
    margin: 0 auto;
	margin-bottom: 50px;
}

.flash-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
    margin-top: 20px;
}

.flash-error {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}

/* Optional: adding close button */
.flash-message::after {
    content: 'X';
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.flash-message::after:hover {
    color: #000;
}


/* ===========================================
Responsive Codes 
======================================= */

@media(max-width : 75em){

    *{
        font-size: 1.2rem;
    }

    .header{
        position: relative;
    }

    .mobile-navbar-btn{
        display: block;
        z-index: 999;
        color: white;
    }
    
    .navbar{
        /* display: none; */
        width: 100%;
        height: 100vh;
        background-color: black;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column-reverse;
        gap: 40px;
        
        justify-content: center;
        align-items: center;

        transform: translateX(100%);
        transition: all 0.5s linear;

        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .navbar-list{
        flex-direction: column-reverse;
        align-items: center;
        
    }

    .active .navbar{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"]{
        display: block;
    }

    .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"]{
        display: none;
    }

    .footer{
        height: 100%;
    }

    .part-1{
        grid-template-columns: 1fr 1fr;
    }


}

@media(max-width : 55em){
    .all-product{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media(max-width : 42em){
    .all-product{
        grid-template-columns: 1fr 1fr;
    }
}

@media(max-width : 35em){
   
}

