@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2&family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Baloo Bhai 2', sans-serif;
}

html{
    font-size: 62.5%; /* 1rem = 10px */
    overflow-x: hidden;
}

body{
    overflow-x: hidden;
}

.header{
    padding: 0 4.8rem;
    height: 6.1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
}

.header .logo{
    height: 4rem;
}

.navbar-list{
    display: flex;
    gap: 4.8rem;
    list-style: none;
    align-items: baseline;
}


.navbar-link:link,.navbar-link:visited{
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    transition: all 0.3s;
    font-weight: 0;
}

.navbar-link:hover,.navbar-link:active{
    color: grey;
}

.navbar{
    display: flex;
    gap: 40px;
    align-items: center;
}

.search-btn{
    background-color: white;
    border: none;
    color: black;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 2rem;
    cursor: pointer;
    position: absolute;
    transform: translate(16rem);
}

.search-box{
    width: 20rem;
    height: 3.8rem;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 1.5rem;
}

.search{
    display: flex;
    align-items: center;
    position: relative;
}

.mobile-navbar-btn{
    display: none;
    background-color: transparent;
    cursor: pointer;
}

.mobile-nav-icon{
    width: 4rem;
    height: 4rem;
    color: white;
}

.mobile-nav-icon[name="close-outline"]{
    display: none;
}

.cart-box{
    width: 100%;
    height: 100vh;
    display: flex;
    margin-top: 20px;
}

.card-1{
    width: 70%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bucket{
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.product{
    width: 95%;
    height: 320px;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.product .wrapper {
    position: relative;
    width: 30%;
    height: 90%;
}

.wrapper .img {
    position: absolute;
    width: 100%;
    height: 100%;
}

.wrapper .img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.info{
    width: 65%;
    height: 80%;
}

.info h2{
    font-size: 2.5rem;
    font-family: 'Baloo Bhai 2', sans-serif;
}

.info div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 1.5rem;
}

.controls .btn{
    background-color: black;
    border: none;
    outline: none;
    color: white;
    font-size: 1.5rem;
    padding: 5px;
    width: 20rem;
    margin-top: 10px;
    border-radius: 5px;
}

.card-2{
    width: 28%;
    height: 100vh;
}

.card-2 .summary {
    text-align: center;
}

.summary h1{
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.summary-info{
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
    height: 285px;
}

.summary-info .sum-info{
    display: grid;
    grid-template-columns: 2fr 1fr;
    font-size: 1.7rem;
   
}

.summary-info div{
    margin-left: 10px;
    margin-top: 10px;
}

.summary-info .checkout {
    margin-top: 30px;
    text-align: center;
}

.checkout .btn{
    background-color: black;
    color: white;
    border: none;
    outline: none;
    padding: 5px 10px ;
    font-size: 1.5rem;
    width: 60%;
    border-radius: 5px;
}

.footer{
    width: 100%;
    height: 300px;
    background-color: black;
    margin-top: 20px;
}

.part-1{
    width: 100%;
    height: 80%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.section-1{
    margin-left: 50px;
}

.icons{
    width: 100%;
    height: 30%;
    font-size: 4rem;
    color: grey;
    display: flex;
    gap: 10px;
    margin-top: 20px;
    margin-left: 20px;
}

.section-1 h2{
    color: white;
    font-size: 2.3rem;
    margin-bottom: 20px;
    margin-top: 50px;
}

.info{
    display: flex;
    flex-direction: column;
}

.info a{
    color: grey;
    text-decoration: none;
    font-size: 1.5rem;
}

.info-1{
    flex-direction: row;
    gap: 20px;
}

.info-1 i{
    margin-top: 20px;
    font-size: 3rem;
}

.part-2{
    width: 100%;
    height: 20%;
    color: gray;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: end;
}

.container a{
    text-decoration: none;
}

.empty{
    margin-left: 30px;
}


/* ===========================================
Responsive Codes 
======================================= */

@media(max-width : 85.75em){
    .product{
        font-size: 1.3rem;
    }
}

@media(max-width : 75em){

    .header{
        position: relative;
    }

    .mobile-navbar-btn{
        display: block;
        z-index: 1000;
        color: white;
    }
    
    .navbar{
        /* display: none; */
        width: 100%;
        height: 100vh;
        background-color: black;
        position: absolute;
        top: 0;
        left: 0;
        display: flex;
        flex-direction: column-reverse;
        gap: 40px;
        
        justify-content: center;
        align-items: center;

        transform: translateX(100%);
        transition: all 0.5s linear;

        z-index: 999;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
    }

    .navbar-list{
        flex-direction: column-reverse;
        align-items: center;
        
    }

    .active .navbar{
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .active .mobile-navbar-btn .mobile-nav-icon[name="close-outline"]{
        display: block;
    }

    .active .mobile-navbar-btn .mobile-nav-icon[name="menu-outline"]{
        display: none;
    }

    .cart-box{
        flex-direction: column;
    }

    .card-1{
        width: 100%;
    }

    .wrapper .sliders {
        z-index: 1;
    }

    .card-2{
        width: 95%;
        margin-left: 10px;
        margin-bottom: 10px;
    }
}

@media(max-width: 42.5em) {
    .product{
        height: 300px;
    }

    .product .wrapper{
        margin-left: 10px;
        width: 40%;
    }

    .info{
        width: 55%;
    }

    .info h2{
        font-size: 2.2rem;
    }

    .info div{
        font-size: 1.3rem;
    }
    
    .controls .btn{
        background-color: black;
        border: none;
        outline: none;
        color: white;
        font-size: 1.3rem;
        padding: 5px;
        width: 20rem;
        margin-top: 10px;
        border-radius: 5px;
    }
}



@media(max-width : 35em){
    .header{
        padding: 0 2.4rem;
    }
}



