<footer class="footer">
    <div class="part-1">
        <div class="section-1">
            <h2>Company</h2>
            <div class="info">
                <a href="#">About Us</a>
                <a href="#">Our Services</a>
                <a href="#">Privacy Policy</a>
                <a href="#">Our Program</a>
            </div>
        </div>
        <div class="section-1">
            <h2>Get Help</h2>
            <div class="info">
                <a href="#">FAQ</a>
                <a href="#">Shipping</a>
                <a href="#">Returns</a>
                <a href="#">Order Status</a>
                <a href="#">Payment Options</a>
            </div>
        </div>
        <div class="section-1">
            <h2>Online Shop</h2>
            <div class="info">
                <a href="#">Chairs</a>
                <a href="#">Sofas</a>
                <a href="#">Dining Table</a>
                <a href="#">TV Units</a>
            </div>
        </div>
        <div class="section-1">
            <h2>Follow Us</h2>
            <div class="info info-1">
                <a href="#"><i class="fa-brands fa-facebook"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-twitter"></i></a>
                <a href="#"><i class="fa-brands fa-linkedin"></i></a>
            </div>
        </div>
    </div>
    <div class="part-2"> Copyright © 2024 Chairished. All rights reserved.</div>
</footer>